*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

header{

    background-color:#eeeeee;
    height: 125px;

    align-content: center;

    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.175);
    transition: 1s;
}

header h1{
    text-align: center;
    text-decoration: none;
    color: black;

    font-size: 50px;
}

header h1 a {
    text-decoration: none;
    color: black;
}

#cabecalho {
    padding: 0px;
    margin: 0px;
    border: 0px;

    display: flex;
    width: 100%;
    height: 45px;

    justify-content: center;
    align-items: end;

    column-gap: 15px;
    font-size: 25px;
    transition: 1s;
}

.cabecalho-item {
    text-decoration: none;
    color: black;

    position: relative; 
    padding: 0px;
    margin: 0px;
    border: 0px;

    padding-left: 30px;
    padding-right: 30px;

    height: 30px ;
    cursor: pointer;
}

.cabecalho-item::after {
    content: ""; 
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0; 
    height: 2px; 
    background-color: rgb(112, 50, 0); 
    transition: width 0.4s ease, left 0.4s ease;
}

.cabecalho-item:hover::after {
    width: 100%; 
    left: 0;
}

body{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.imageDog{
    width: 43px;
    height: 44px;
}

#hidden-image {
    width: 43px;
    height: 44px;

    display: none;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
}

.Sobre_nos{
    margin: 20px;
    padding: 20px;

    background-color: #eeeeee;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.175);
    text-align: justify;

}

.Sobre_nos h1{
    font-size: 40px;
    text-align: center;
}

.Sobre_nos p{
    padding-top:20px ;
    font-size: 20px;
}